@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1');
*{
  font-family: 'Gothic A1', sans-serif;
}

.chart{
  padding:20px;
}
.elChart {
  display:flex;
}
.elChart > p{
  width:10%;
}
.elChart > div{
  flex-grow:1;
  display:flex;
  align-items:center;
}
.elChart > div > div {
  display:block;
  background-color:#361d8f;
  content:' ';
  color:white;
  height:30%;
}

h1{
  font-family: 'Do Hyeon', sans-serif;
}

select{
  padding:10px;
  border-radius:2px;
}